* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  padding: 16px 120px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container .navbar-list {
  list-style-type: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 600px;
}

button {
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600px;
}

#hero {
  background: url(./assets/hero-bg.png);
  background-size: cover;
  padding: 70px 120px 134px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 40px 0px;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.hero-badge {
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 1000px;
  color: #469165;
  font-size: 16px;
  font-weight: 600;
}
.hero-badge i {
  margin-right: 6px;
}
.hero-header h1 {
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
}
.hero-header h1 .different-color {
  color: #30b868;
}
.hero-paragraph P {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
}
.hero-button .transparent {
  margin-left: 16px;
  background: transparent;
  border: 1px solid #ffffff;
}
.hero-button .transparent i {
  color: #ffffff;
  margin-right: 10px;
}
.arrow i {
  margin-left: 10px;
}
#notes {
  padding: 0px 120px 120px;
  text-align: center;
  height: 448px;
}
#notes .notes-header {
  padding-top: 50px;
}
#notes .notes-header h1 {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.notes-cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.notes-cards div {
  padding: 69.5px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px #00000018;
}
.notes-cards div img {
  max-width: 60px;
  max-height: 60px;
  background: #f95555;
  padding: 14px;
  border-radius: 100%;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}
#solution {
  padding: 120px;
  max-height: 840px;
}
#solution .section-container {
  width: 90%;
  max-width: 1360px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.solution-img {
  width: 600px;
  height: 600px;
}
.section-container .solution-content {
  margin: 102px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-container .solution-heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#sub-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #469165;
}
.solution-heading h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.soltion-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.soltion-list ul i {
  margin-right: 6px;
  color: #30b868;
}
#early-access {
  padding: 0 120px 120px;
}
#early-access .section-container {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  background-color: #f7f6f2;
}
.section-heading h1 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.button-section button {
  margin-bottom: 16px;
}
.button-section button i {
  margin-left: 10px;
}
.social-links-logo {
 display: flex;
 gap: 16px;
}
footer {
  padding: 120px 120px 30px;
  background-color: #001931;
}
.socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.social-links-logo .logo {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 2px;
}
.social-links p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 16px;
}
.footer {
  border-top: 1px solid #E5E7EB;
  text-align: center;
  padding-top: 30px;
}
.footer p {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
  line-height: 24px;
}
